body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f3ff;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.options, .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option, .skill {
    margin: 10px;
    text-align: center;
    position: relative;
}

.option .label, .skill .label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.option img, .skill img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.option span, .skill span {
    display: block;
    font-size: 14px;
    color: #555;
}

.checkbox {
    display: none;
}

.checkbox:checked + .label {
    border-color: #8520EA;
}

.checkmark {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: url('../images/matching_teacher/check.png') no-repeat center center;
    background-size: cover;
}

.checkbox:checked + .label .checkmark {
    display: block;
}

.skill-category {
    text-align: left;
}

.skill-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-options .skill {
    flex: 0 1 150px; /* Adjust the width of the boxes as needed */
}

.submit-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #a363ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #9229e7;
}
